<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				Register
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="">Email Address</label>
					<input type="email" ng-model="register.registration.emailAddress" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Password</label>
					<input type="password" ng-model="register.registration.password" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Confirm Password</label>
					<input type="password" ng-model="register.registration.confirmPassword" class="form-control">
				</div>
			</div>
			<div class="panel-footer">
				<button class="btn btn-primary" ng-click="register.register()">Register</button>
			</div>
		</div>
	</div>
</div>